@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  padding: 0rem;
  margin: auto;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #00695c;
  padding: 0 1.5rem;
}

.main_header_nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.main_header_item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main_header_item {
  margin: 0 1rem;
  padding: 0;
}

.main_header_item a {
  text-decoration: none;
  color: white;
}

.main_header_item a:hover,
.main_header_item a:active,
.main_header_item a.active {
  color: #ffeb3b;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card_header,
.card_content {
  padding: 1rem;
}

.card_header h1,
.card_content h1,
.card_content h2,
.card_content p {
  margin: 0;
}

.card_image {
  width: 100%;
}

.card_image img {
  width: 100%;
}

.card_actions {
    padding: 1rem;
    text-align: center;
}

.card_actions button,
.card_actions a {
    margin: 0 0.25rem;
}

.btn {
  font: inherit;
  border: 1px solid #00695c;
  color: #00695c;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #00695c;
  color: white;
}
